#heroi {
    display: none
    
  }
  
  #icanvas {
   background-image: url(https://br.web.img2.acsta.net/newsv7/18/03/16/00/17/4450156.jpg);
    background-size: cover;
    background-repeat: round;
  }

  