/* <!-- Gabriele Amoroso, Gabrielle Rodrigues e Luana Tomaz --> */

#meu-div {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
#meu-canvas{
background-image:url("https://media.istockphoto.com/vectors/race-track-with-start-and-finish-line-for-car-asphalt-road-on-f1-for-vector-id1221451210?k=6&m=1221451210&s=612x612&w=0&h=mcSWwqDRyJPVLX2Kt-fY-f2A3kYrS1Fec1dbgYxWYeY=")
}

