#heroi {
  display: none;
}

#icanvas {
  background-image: url(https://1.bp.blogspot.com/-uwnlE_fGhkc/YL6yHFmVAVI/AAAAAAACg9M/fUCtweTg5NQfQfUxQy_o-JzlAoXpetrCACNcBGAsYHQ/s320/fundo.jpeg);
  background-size: cover;
  background-repeat: round;
}
